@model IEnumerable<MVCBasic.Models.Genre>
@{
    ViewBag.Title = "Index";
}

<h2>Genres</h2>

<p>
    Select from: @Model.Count() genres: 
    <ul>
        @foreach (var genre in Model)
        {
            <li>
                @genre.Name
            </li>
        }       
    </ul>
</p>
